In [1]:
import pandas as pd
import numpy as np

In [2]:
# upload dataset

data=pd.read_csv("D:\Datasets\heart.csv")
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

# Data preprocession

In [3]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [4]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [5]:
y

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [6]:
data["target"].value_counts()

1    526
0    499
Name: target, dtype: int64

# Data Balancing

In [13]:
from imblearn.under_sampling import RandomUnderSampler
r=RandomUnderSampler()
x_data,y_data=r.fit_resample(x,y)


from collections import Counter
print(Counter(y_data))

Counter({0: 499, 1: 499})

In [8]:
# Spliting Train & Test data

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_data,y_data,test_size=0.2, random_state=13)

# Ensemble Technique

In [10]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=5, criterion="entropy",max_depth=5, random_state=12)
rfc.fit(x_train,y_train)
rfc_pred=rfc.predict(x_test)
rfc_acc=accuracy_score(rfc_pred,y_test)*100
rfc_acc

88.0

# Model Balancing

In [12]:
from collections import Counter
print(Counter(y_train))

Counter({0: 405, 1: 393})

# Cross Validation

In [22]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict


from sklearn.model_selection import StratifiedKFold
skf=StratifiedKFold(n_splits=5,random_state=111,shuffle=True)
skf.get_n_splits(x_data,y_data)

5

In [26]:
for train_data, test_data in  skf.split(x_data,y_data):
    x_train,x_test=x_data[train_data],x_data[test_data]
    y_train,y_test=y_data[train_data],y_data[test_data]
    
    
    scores=cross_val_score(rfc,x_train,y_train, cv=skf)
    y_pred1=cross_val_predict(rfc, x_test,y_test)
    
    print(np.mean(scores)*100)

88.21855345911949
88.59827044025158
88.47562893081762
88.73820754716981
89.73899371069182